django==3.1.0
django-bitfield==2.0.1
django-import-export==2.5.0
django-debug-toolbar==3.2
django_tables2==2.3.4
backcall==0.1.0
django_extensions==3.1.1
django-mptt==0.11.0
django-sekizai==2.0.0
django-utils-six>=2.0
sorl-thumbnail==12.6.2
django-nyt==1.1.6
bleach==3.3.0
markdown==3.1.1
pillow>=7.1.0
tqdm
regex==2020.5.14
#git+git://github.com/nert-nlp/django-categories.git@master
