django==2.2.20
django-bitfield==1.9.6
django-import-export==1.2.0
django-debug-toolbar==2.0
django_tables2==1.2.9
backcall==0.1.0
django_extensions==2.2.1
django-mptt==0.9.0
django-sekizai==1.0.0
sorl-thumbnail==12.6.2
django-nyt==1.1.5
bleach==3.3.0
markdown==3.1.1
pillow>=7.1.0
tqdm
regex==2020.5.14
git+git://github.com/nert-nlp/django-categories.git@master
