{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}
{% load category_tags %}

{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

  <div id="article-container">
    <ul class="nav nav-pills" id="article-menu">
      <li class="pull-left" id="article-title-li">
        <h1 id="article-title">
          {{ article.current_revision.title }}
          <small style="font-size: 14px;">
            {% if urlpath.parent %}
            <a href="{% url 'wiki:get' path=urlpath.path %}"><span class="fa fa-bookmark"></span> {{ urlpath.slug }}</a>
            {% endif %}
            {% if article.current_revision.locked %}
              <span class="fa fa-lock"></span> {% trans "locked" %}
            {% endif %}
          </small>
        </h1>
      </li>
      {% include "wiki/includes/article_menu.html" %}
    </ul>
    <div>
      {% block wiki_contents_tab %}
      {% endblock %}
    </div>

    {# check if article is in tab like 'edit' or 'metadata' or 'categories' if so don't render the following #}
    {% if not "_" in request.path %}

      {# here check if this is a category landing article and if so then display the category entries #}
      <div>
          {% if article.categories.all %}
            {% if urlpath.slug == article.categories.all.0.slug %}
                <h2>Entries</h2>
                {% for category_article in article.categories.all.0.article_set.all %}
                  {% if category_article != article %}
                    <p>
                      <a href="{{ article.get_absolute_url }}">{{ category_article }}</a>
                    </p>
                  {% endif %}
                {% endfor %}
            {% endif %}
          {% endif %}
      </div>

      {# display which categories the article is in #}
      <div>
        {% with article.categories.all as categories %}
          {% if categories.all %}
            {% trans "This article is in the following categories: " %}
            <ul>
                {% for category in categories %}
                  <li><a href="{{ category.url }}">{{category.short_title}}</a>
                    {% if category.parent %}
                      <a href="/{{category.parent.slug}}"> (Parent: {{category.parent}}) </a>
                    {% endif %}
                  </li>
                {% endfor %}
            </ul>
         {% endif %}
        {% endwith %}
      </div>

      {# if article has metadata render it here #}
      {% if article.metadata %}
        <div>
          <h1>
            Metadata
          </h1>
          {% if article.metadata.supersense %}
            {{ article.metadata.supersense }}
          {% endif %}
          {% if not article.metadata.supersense %}
            {{ article.metadata }}
          {% endif %}
        </div>
      {% endif %}

    {% endif %}
  </div>

{% endblock %}

{% block wiki_footer_prepend %}
  <p style="margin-bottom: 10px;"><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}
