{% extends "wiki/base.html" %}
{% load i18n wiki_tags sekizai_tags %}
{% block wiki_pagetitle %}{% trans "Sign up" %}{% endblock %}

{% block wiki_contents %}
<h1 class="page-header">{% trans "Sign up" %}</h1>
<form method="POST" class="">
{% wiki_form form %}
<div class="">

  <div class="col-lg-auto">
    <button type="submit" name="save_changes" class="btn btn-primary ">
      <span class="fa fa-plus"></span>
      {% trans "Sign me up..." %}
    </button>
  </div>
</div>
</form>

<script type="text/javascript">
  function {{ honeypot_jsfunction }}() {
    $('.{{ honeypot_class }}').parent().parent().parent().hide();
  }
  $(document).ready({{ honeypot_jsfunction }});
</script>

{% endblock %}
