{% extends "wiki/base_site.html" %}
{% load metadata_tags %}

{% block wiki_site_title %} - Xposition{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="/" style="padding: 0; margin: 0 20px 0 0;"><img src="/media/wiki/images/Xposition-logo.png" alt="Xposition" style="height: 50px;" /></a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li class="active"><a href="{% url 'wiki:root' %}">Home</a></li>
  <li><a href="/Supersenses">Supersenses</a></li>
  {% langs_display %}
</ul>
{% endblock %}
